<!DOCTYPE html>
<html>
  <head>
    <title>Book lunch for today</title>
  </head>
  <body>
    <h1>Who's up for lunch?</h1>
    <form method="post" action="/meetings/post">
      <input name="attendees" type="checkbox" id="drazend" /> 
      <label for="drazend">Drazen</label>
      <br />
      <input name="attendees" type="checkbox" id="deniscep" /> 
      <label for="drazend">Denis</label>
      <br />
      <input name="attendees" type="checkbox" id="ankuzne" /> 
      <label for="drazend">Anastasia</label>
      <br />
      <input name="attendees" type="checkbox" id="a-agsopo" />
      <label for="drazend">Agnieszka</label>
      <br /><br />
      <button type="submit">Book a lunch</button>
    </form>
    
  </body>
</html>